<!DOCTYPE html>
<html>
<head>
		<img id="logo" src="images/logo.png" alt="Eg beach cleanup Logo">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/hpstyles.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/get-involved">Get Involved</a></li>
			
			</ul>
		</nav>
	</header>
	<main>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0" nonce="vwKVZzZp"></script>

		{{{body}}}
	</main>
	<footer>
			<div class="fb-comments" data-href="https://www.tylermakhoul.rhody.dev/egBeachCleanup_v6/index.html" data-width="400" data-numposts="7"></div>
	</footer>
</body>
</html>
