<main>
    
    <section id="get-involved">
      <h2>Get Involved</h2>
      <p>We are always looking for people to help us organize and participate in our cleanups. Here are a few ways you can get involved:</p>
      <ul>
        <li>Follow us on social media for updates on upcoming events and volunteer opportunities.</li>
        <li>Donate to help fund our efforts to keep our beaches clean and safe.</li>
      </ul>
    </section>
    <h3>Want to help? lets see if you can!</h3>
      <div id="agecheck">
     
        <form>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name">
          <br><br>
          <label for="age">Age:</label>
          <input type="number" id="age" name="age">
          <br><br>
          <button type="button" id="submit">Submit</button>
        </form>
        <p id="result"></p>
      </div>
      
        <div id="text-accomplishments">
        <p></p>
        </div>
    <section id="feedback">

    
  </div>
</section>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    if (typeof jQuery == 'undefined') {
      document.write('<script src="js/jquery-3.6.0.min.js"><\/script>');
    }
  </script>
  <script src="js/involved.js"></script>
  </main>
  